@import 'utilities.css';

:root{
    --primary:#3dcfd3;
    --dark:#161616;
    --pure:#ffffff;
    --ternary:#898989;
    --light:#f2f2f2;
    --secondary:#070606;

}
body{
    font-family:"Poppins", sans-serif;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -webkit-font-smoothing:antialiased;
}


header{
    background-color: var(--dark);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 70% 87%, 0 100%);
 

}

.container{
    max-width: 1152px;
    padding: 0 10px;
    margin: 0 auto;
    
}


/* Responsive breaks >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */

@media (max-width: 576px) {
    .container {
        max-width: 540px;
    }
}

@media (max-width: 768x) {
    .container {
        max-width: 720px;
    }
}

@media (max-width: 992px) {
    .container {
        max-width: 960px;
    }
}

@media (max-width: 1200px) {
    .container {
        max-width: 1152px;
    }
}

/* End Breaks >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */

.navbar {
    padding-top: 0.5rem;
    

}

.navbar .left a{
    color: var(--pure);
    text-decoration: none;
    margin-right: 2rem;
    text-transform: uppercase;
    transition: all .3s ease;
}

.navbar .left a:hover{
    color: var(--primary);
  
}

/* .navbar nav{
    padding: 2rem 0;

} */

.navbar .branding{
    margin-right: 0.5rem;
}

.navbar .branding h1{
    font-family: "lato",sans-serif;
    color:var(--pure);
    font-size: 10px;
    text-decoration: line-through;
    

}

/* Controls size of logo in nav */
.navbar .branding img{
    width:200px;
}

.hero{
    padding: 3rem 0;
    padding-top: 7rem;
    
}

.hero .left img{
width: 450px;
padding-bottom: 6rem;
}

.hero .right{
    color: var(--pure );
}

.hero .right h6{
    font-size: 1rem;
    color: var(--primary);
    /* margin-bottom: .5 rem; */

}

.hero .right h1{
    font-size: 3rem;    
    font-weight: 100;   
    line-height: 1.2;
    margin-bottom: 0.5rem ;
    font-family: "lato", sans-serif;
}

.hero .right p{
    line-height: 1.9;   
    margin-bottom: 2rem;
    margin-top: 0.5rem ; /* padding for top of paragraph*/
    font-family: "lato",sans-serif;
}

.hero .right {
    margin-top: -7rem;  
}

section{
    padding: 2.5rem 0;
}

/* GSAP ANIMATION >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>   */

.intro{
    background: var(--dark);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.intro-text {
    color: var(--pure);
    font-weight: 100;
    line-height: 1.5;
    margin-bottom: 1.5rem;
    font-family: "lato", sans-serif;
  }

.g-slider {
    background: var(--primary);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translateY(100%);
  }

  .hide {
    background: var(--dark);
    overflow: hidden;
  }
  
  .hide span {
    transform: translateY(100%);
    display: inline-block;
  }





/* ABOUT ME >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */

section.about .about-me-img{
    height: 375px;

}

section.about h1{
    margin-bottom: 1rem;    
    font-size: 1.6rem;
    font-weight: 400;

}

section.about h1 span{
    color:var(--primary);
}

section.about h3{
    font-size: 1rem;
    margin-bottom: 1rem;
    font-weight: 400;
}

section.about p{
    font-family:'Lato',sans-serif;
    color: var(--ternary);
    line-height: 1.9;
    margin-bottom: 2rem;

}

section.about .social{
    display: flex;

}

section.about .social a{
    background: var(--primary);    
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    margin-right: 0.6rem;
    transition: all .3s ease;

}

/* background behind social media icon */
section.about .social a:hover{
    background: var(--light); 
}

section.about .social a img{
width: 100%;
height: 100%;
padding: 0.5rem;

}

.section-heading{
    color: var(--secondary);
    text-align: center;
    margin-bottom: 1rem;    
    line-height: 0.5;


}

.section-heading span{
    color: var(--primary);


}

.section-heading + p{
    color: var(--ternary);
    font-family: "lato",sans-serif;
    margin-bottom: 4rem; 
    text-align: center;

}

/* SERVICES >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */

section.services{
    background-color: var(--light);
}

section.services .heading-wrapper{
    color: var(--ternary);
    font-family: "lato",sans-serif;
    margin-bottom: 4rem; 
    text-align: center;
    line-height: 1.6;
}

section.services .card-wrapper{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 2rem ;
    grid-row-gap: 6rem;
    padding-top: 2rem;
}

section.services .card-wrapper a{
    text-decoration: none;
}

section.services .card-wrapper a h2{
    color: var(--secondary);
}


section.services .card-wrapper .card{
    background-color: var(--pure);
    padding: 3rem 2rem;
    position: relative;
    padding-top: 5rem;
    text-align: center;
    transition: all .3s ease;
    cursor: pointer;

}

section.services .card-wrapper .card h2{
    font-weight: 400;
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
}

section.services .card-wrapper .card p{
    font-family: "Lato",sans-serif;
    color: var(--ternary);
    line-height: 1.6;


}

section.services .card-wrapper .card:hover{
    background:var(--dark);

}

section.services .card-wrapper .card:hover h2{
    color: var(--pure);
}

/* image icon */
section.services .card-wrapper .card img{
    position: absolute;
    top: -3.5rem;
    left: 50%;
    width: 100px;
    height: 97px;
    background: var(--primary);
    padding: 6px;
    transform: translateX(-50%);
    -webkit-transform-radius: (-50%);
    -moz-transform-radius: (-50%);
    -ms-transform-radius: (-50%);
    -o-transform-radius: (-50%);
    border-radius: 25%;


}

/* PORTFOLIO PAGE >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */

section.portfolio{
    background-color: var(--light);
}

.header-p{
    background-color: var(--dark);
 

}

section.portfolio .heading-wrapper{
    color: var(--ternary);
    font-family: "lato",sans-serif;
    margin-bottom: 4rem; 
    text-align: center;
    line-height: 1.6;
}

section.portfolio .card-wrapper{
    display: grid;
    grid-template-columns: repeat(1, 2fr);
    grid-column-gap: 2rem ;
    grid-row-gap: 1rem;
    padding-top: 2rem;
    
}

.inner-card-wrapper{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-column-gap: 2rem;
        grid-row-gap: 0rem;
        padding-top: 2rem;
        padding-bottom: 2rem;
        /* background: var(--dark); */
        clip-path: polygon(0 0, 100% 0, 100% 100%, 72% 96%, 0 100%);
}

section.portfolio .card-wrapper a{
    text-decoration: none;
}

section.portfolio .card-wrapper a h2{
    color: var(--secondary);
}


section.portfolio .card-wrapper .card {
    background-color: var(--pure);
    padding: 2rem 2rem;
    position: relative;
    padding-top: 3rem;
    text-align: center;
    transition: all .3s ease;
    /* cursor: pointer; */
    align-items: center;
    align-content: center;
    outline: solid;
}

section.portfolio .card-wrapper .card h2{
    font-weight: 400;
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
}

section.portfolio .card-wrapper .card p{
    font-family: "Lato",sans-serif;
    color: var(--ternary);
    line-height: 1.6;


}

/* section.portfolio .card-wrapper .card:hover{
    background:var(--dark);

}

section.portfolio .card-wrapper .card:hover h2{
    color: var(--pure);
} */

/* image icon */
.card-wrapper .card img{
    position: absolute;
    top: -3.5rem;
    left: 50%;
    width: 100px;
    height: 97px;
    background: var(--primary);
    padding: 6px;
    transform: translateX(-50%);
    -webkit-transform-radius: (-50%);
    -moz-transform-radius: (-50%);
    -ms-transform-radius: (-50%);
    -o-transform-radius: (-50%);
    border-radius: 25%;
}

section.portfolio .inner-card-wrapper .gallery{
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 2rem;

}

section.portfolio .inner-card-wrapper .gallery img{
    width: 230px;
    padding: 5px;
    filter: brightness(0.9);
    transition: 0.7s;

}

section.portfolio .inner-card-wrapper .gallery img:hover{
    filter: grayscale(0);
    transform: scale(1.05);
}












/* DOWNLOAD CV CTA >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */

section.references{
    text-align: center;
    background: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(../images/camera.png);
    background-position: center;
    background-repeat: no-repeat;
    background-color: #070606;
    color: var(--pure);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 67% 80%, 0 100%);
    padding-bottom: 7rem;

}

section.references h1{
    font-size: 2rem;
    margin-bottom: 0.5rem;
}

section.references p{
    margin-bottom: 2rem;
    font-family: "Lato",sans-serif;

}

/* APPLICATIONS  - REFERENCES SLIDER >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */

section.reviews .slider .slide img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    object-fit: cover;
    margin-bottom: 2rem;

} 

section.reviews .slider{
    align-items: center;
    display: flex;
}

section.reviews .slider .slide{
    text-align: center;
    display: flex;
    align-items:center;
    flex-direction: column;
    padding: 0 6rem;

}

section.reviews .slider .slide p{
    font-family: "Lato",sans-serif;
    color: var(--ternary);
    margin-bottom: 1rem;
    line-height: 1.6;

}

section.reviews .slider .slide span{
    font-size: 0.8rem;

}

section.reviews .slider-dots .dots{
    list-style-type: none;
    display: flex!important;
    justify-content: center;

}

section.reviews .slider-dots button{
    font-size: 0;
    width: 18px;
    height: 15px;
    margin-right: 0.3rem;
    border: none;
    outline: none;
    background: var(--ternary);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    cursor: pointer;

}

section.reviews .dots li.slick-active button{
    background: var(--primary);
    width: 20px;
}

/* PORTFOLIO >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */

section.applications{
    background: var(--dark);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 67% 90%, 0 100%);
    padding-bottom: 5rem;


}

section.applications .section-heading{
    color: var(--pure);
}

section.applications .index-card-wrapper{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap:3rem

}

section.applications .index-card-wrapper .card{
    background: var(--pure);

}

/* Recent project images */
section.applications .index-card-wrapper .card .img-wrapper img{
    width: 370px;
    height: 264px;

}

section.applications .index-card-wrapper .card .card-content{
    padding: 2rem;
}

section.applications .index-card-wrapper .card .card-content h1{
    font-size: 1rem;
    font-weight: 600;
}

section.applications .index-card-wrapper .card .card-content a{
    color: var(--secondary);
    text-decoration: none;
}

section.applications .index-card-wrapper .card .card-content a:hover{
    color: var(--primary);
}

section.applications .index-card-wrapper .card .card-content span{
    color: var(--ternary);
    font-size: 0.8rem;
}

section.applications .index-card-wrapper .card .card-content p{
    font-family: "lato", sans-serif;
    color: var(--ternary);
    margin-top: 1rem;
    margin-bottom: 1rem;
    line-height: 1.6rem;
}

section.applications .index-card-wrapper .card .card-content a.read-more{
    font-size: 16rem;
}

/* .card-content-expanded{
    margin-top: 19rem;
    margin-bottom: 10rem;
    line-height: 1.6rem;
    color: red;
    

} */



/* CONTACT FORM >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/

section.contact .container{
    padding-top: 0rem;
}

section.contact .index-card-wrapper{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 3rem;
    margin-bottom: 1.5rem;
    margin: 16px;
    
}

section.contact .index-card-wrapper .card{
    
    text-align: center;
}

/* section.contact .index-card-wrapper .card .img-wrapper{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: var(--primary);
    margin-bottom: 3rem;
    text-align: center;
} */


section.contact .index-card-wrapper .card img{
    margin-bottom: 1.5rem;
    /* background: var(--primary); */
    width: 65px;
    height: 65px;
    /* border-radius: 50%; */

}

section.contact .index-card-wrapper .card h1{
    font-weight: 400;
    margin-bottom: 1rem;
    color: var(--primary);
}

/* phone number and contact info */
section.contact .index-card-wrapper .card h6{
        font-size: 1rem;
        color: var(--ternary);
        font-weight: 400;
        margin-bottom: 2rem;
}

section.contact .input-wrap{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 2rem;
    margin-bottom: 1rem;
    font-size: 1rem;
    
   
}

section.contact .input-wrap placeholder{
    background: pink;
}

section.contact .input-wrap-2{
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
    font-size: 1.2rem;
    
}

/* subject */
section.contact .input-wrap-2 input{
    margin-bottom: 1rem;
    font-size: 1.0rem;
    font-weight: 400;
}

/* message */
section.contact .input-wrap textarea, section.contact .input-wrap-2 textarea{
    padding: 0.5rem;
    /* border: 1px solid var(--light); */
    font-size: 1.0rem;
    font-weight: 400;
    font-family: "lato", sans-serif;

}

section.contact .input-wrap-2 textarea:focus, section.contact input:focus{
    outline-color: var(--primary);
    color: #070606;
    font-weight: bold;
    font-size: 1.2rem; 
}

/* name and email */
section.contact input{
    padding: 0.5rem;
    font-size: 1.0rem;
    font-weight: 400;
}

section.contact .btn-wrapper{
    text-align: end;
}

/* FOOTER >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */

footer{
    background: var(--dark);
    text-align: center;
    padding: 2rem 0;
}

footer .signature h1{
    font-family: "windsong", sans-serif;
    color: var(--pure);
    font-size: 2.5rem;
}

footer .footer-socials img{
    height: 45px;
    width: 45px;
    background: var(--primary);
    border-radius: 50%;
    
    

   
}

footer .tagline{
    color: var(--pure);
    padding-top: 0.5rem;
}

footer .main-logo{
    text-align: center;
    
}

footer .main-logo img{
    width: 300px;
    
}

/* Mobile navbar and resolution / responsive breaks >>>>>>>>>>>>>>>>>>>>>> */

/* @media(max-width:975px){
    header #main-nav{
        display: none;
    }
} */

.site-main-wrapper{
    position: relative;
}

.hamberger{
    position: absolute;
    top: 10px;
    right:40px;
    z-index: 11;
    background: none;
    border: none; 
    outline: none;
    cursor: pointer;
    display: none;
}

.hamberger img {
    width: 40px;
    position: fixed;
    /* background: var(--dark); */
    background: rgb(22,22,22);
    /* background: linear-gradient(180deg, rgba(22,22,22,1) 0%, rgba(22,22,22,0.813813025210084) 50%, rgba(22,22,22,0.49728641456582634) 100%); */
    background: linear-gradient(180deg, rgba(22,22,22,1) 0%, rgba(22,22,22,0.9286589635854342) 25%, rgba(22,22,22,0.49728641456582634) 100%);
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    margin-left: -5px;
    border-radius: 25%;
    transition: transform .5s ease-in-out;
}

.hamberger img:hover {
    transform: rotate(90deg);
}

.mobile-nav ul li a:hover{
    color: var(--primary);
    
}

.mobile-nav{
    position: fixed;
    top:0;
    left: 0;
    z-index: 1001;
    background: var(--light);
    width: 100%;
    height: 100%;
    padding: 2rem;
    padding-top: 1rem;
    transform: translateX(-100%);
    -webkit-transform: (-100%);
    -moz-transform: (-100%);
    -ms-transform: (-100%);
    -o-transform: (-100%);
    transition: all .5s ease-in-out;
    -webkit-transition: all.5s ease-in-out;
    -moz-transition: all.5s ease-in-out;
    -ms-transition: all.5s ease-in-out;
    -o-transition: all.5s ease-in-out;

}

.open{
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
}

.times{
    position: fixed;
    top: 30px;
    right: 30px;
    border: none;
    background: none;
    outline: none;
    cursor: pointer;
    width: 30px;
}

.mobile-nav ul{
    list-style: none;
}

.mobile-nav ul li a{
    color: var(--secondary);
    text-decoration: none;
    font-size: 2rem;
}


/* Responsive breaks >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */

/* Tablet >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */

@media(max-width:1024px){
    header #main-nav{
        display: none;
    }

    .hamberger{
        display: block;
        
    }

    .hamberger img{
        margin-left: -25px;
    }

    header {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 26% 89%, 0 100%);
    }

    .hero .left img{
        width: 350px;
        padding-bottom: 8.5rem;
    }

    .hero .right h1{
        font-size: 2.5rem;
    }
    
    section.about .about-me-img {
        height: 350px;
    }

    section.services .card-wrapper {
        grid-template-columns: repeat(2, 1fr)
    } 

    section.references {
        padding-bottom: 7rem;
    }

    section.applications .card-wrapper {
        grid-template-columns: repeat(1, 1fr);

    }

    section.applications .card-wrapper .card .img-wrapper img {
        width: 748px;
        height: 528px;
    }

    section.applications {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 67% 97%, 0 100%);
    }
}
    /* Iphones 6/7/8 etc >>>>>>>>>>>>>>>>>>>>>>>>>>>>> */

    @media (max-width: 576px) {
      .hero{
          flex-direction: column;
          padding-top: 4rem;
      }

      /* .hero .right p {
          text-align: center;
      } */

      header {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 78% 96%, 0 100%);
    }

    .hamberger img{
        margin-left: -9px;
    }

    .about-inner-wrap{
        flex-direction: column;
    }

    section.about .social {
        display: flex;
        justify-content:center;
    }

    section.services .card-wrapper {
        grid-template-columns: repeat(1, 1fr);
    }

    section.references {
        padding-bottom: 4rem;
        clip-path: polygon(0 0, 100% 0, 100% 100%, 67% 88%, 0 100%);
    }

    section.reviews .slider .slide {
        padding: 0 0.5rem;

    }

    section.applications .card-wrapper .card .img-wrapper img {
        width: 355px;
        height: 240px;
    }

    section.applications {
        padding-bottom: 5rem;
    }

    section.contact .card-wrapper {
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 1rem;
    }

    section.contact .input-wrap {
        grid-template-columns: repeat(1,1fr);
        grid-gap: 1rem;
    }

    section.contact .btn-wrapper {
        text-align: center;
    }
}

.newspaper{
    column-count: 3;
    text-align: left;
    column-gap: 140px;
    padding: 2rem 4rem;
    display:table-caption;
}
.samples-card{
    background: var(--pure);
    border: solid;
    
}

.samples-wrapper{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.samples-wrapper .card{
    background-color: var(--pure);
    padding: 2rem 2rem;
    position: relative;
    padding-top: 3rem;
    text-align: center;
    transition: all .3s ease;
    /* cursor: pointer; */
    align-items: center;
    align-content: center;
    outline: solid;
}

.samples-wrapper .samples-card .img{
    position: absolute;
    top: -3.5rem;
    left: 50%;
    width: 100px;
    height: 97px;
    background: var(--primary);
    padding: 6px;
    transform: translateX(-50%);
    -webkit-transform-radius: (-50%);
    -moz-transform-radius: (-50%);
    -ms-transform-radius: (-50%);
    -o-transform-radius: (-50%);
    border-radius: 25%;
}

.samples-card .samples-img-wrapper img {
    width: 370px;
    height: 264px;
}


.samples-card .card-content{
    padding: 1rem;
}

.samples-card .card-content h1{
    font-size: 1rem;
    font-weight: 600;
}

.samples-card .card-content a{
    color: var(--secondary);
    text-decoration: none;
}

.samples-card .card-content a:hover{
    color: var(--primary);
}

.samples-card .card-content span{
    color: var(--ternary);
    font-size: 0.8rem;
}

.samples-card .card-content p{
    font-family: "lato", sans-serif;
    color: var(--ternary);
    margin-top: 1rem;
    margin-bottom: 1rem;
    line-height: 1.6rem;
}

.samples-card .card-content a.read-more{
    font-size: 16rem;
}
